<% content_for :head do %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
    <%= javascript_include_tag 'spree/backend/shl-gmaps.js' %>
<% end %>

<div data-hook="admin_retail_store_form_fields">

  <div class="row">
    <div data-hook="admin_retail_store_form_name_fields" class="col-md-6">
      <%= f.label :store_name, Spree.t(:store_name) %>
      <span class="required">*</span><br/>
      <%= f.text_field :store_name, :class => 'form-control' %>
      <%= error_message_on :retail_store, :store_name %>
    </div>

  </div>


  <div class="row">
    <div data-hook="admin_retail_store_form_address_fields" class="col-md-6">
      <%= f.label :address1, Spree.t(:street_address) %>
      <span class="required">*</span><br/>
      <%= f.text_field :address1, :class => 'required form-control', :id => "street1" %>
      <%= error_message_on :retail_store, :address1 %>
    </div>
    <div data-hook="admin_retail_store_form_address_fields" class="col-md-6">
      <%= f.label :address2, Spree.t(:street_address_2) %>
      <br/>
      <%= f.text_field :address2, :class => 'form-control', :id => "street2" %>
      <%= error_message_on :retail_store, :address2 %>
    </div>
  </div>

  <div class="row">
    <div data-hook="admin_retail_store_form_address_fields" class="col-md-6">
      <%= f.label :city, Spree.t(:city) %>
      <span class="required">*</span><br/>
      <%= f.text_field :city, :class => 'required form-control', :id => "city" %>
      <%= error_message_on :retail_store, :city %>
    </div>

    <div data-hook="admin_retail_store_form_address_fields" class="col-md-6">
      <%= f.label :country, Spree.t(:country) %>
      <span class="required">*</span><br/>
      <%= f.collection_select :country, available_countries, :name, :name, {}, {:class => 'required form-control', :id => "country-dropdown"} %>
      <%= error_message_on :retail_store, :country %>
    </div>
  </div>

  <div class="row">
    <div data-hook="admin_retail_store_form_address_fields" class="col-md-6">
      <%= f.label :zipcode, Spree.t(:zip) %>
      <span class="required ">*</span><br/>
      <%= f.text_field :zipcode, :class => "required form-control" %>
      <%= error_message_on :retail_store, :zipcode %>
    </div>

    <div data-hook="admin_retail_store_form_address_fields" class="col-md-6">
      <%= f.label :state, Spree.t(:state) %>
      <span class="required">*</span><br/>
      <%= f.text_field :state, :class => 'form-control required', :id => "state-field" %>
      <%= error_message_on :retail_store, :state %>
    </div>
  </div>

  <div class="row">
    <div data-hook="admin_retail_store_form_address_fields" class="col-md-6">
      <%= f.label :phone, Spree.t(:phone) %>
      <span class="required">*</span><br/>
      <%= f.phone_field :phone, :class => "required form-control" %>
      <%= error_message_on :retail_store, :phone %>
    </div>
    <div data-hook="admin_retail_store_form_address_fields" class="col-md-6">
      <%= f.label :email, Spree.t(:email) %>
      <%= f.email_field :email, :class => 'form-control required' %>
      <%= error_message_on :retail_store, :email %>
    </div>
  </div>

  <div class="row">
    <div data-hook="admin_retail_store_form_address_fields" class="col-md-6">
      <%= f.label :longitude, Spree.t(:longitude) %>
      <span class="required">*</span><br/>
      <%= error_message_on :retail_store, :longitude %>
      <%= f.text_field :longitude, :class => "required form-control", :id => "map_lng" %>
    </div>
    <div data-hook="admin_retail_store_form_address_fields" class="col-md-6">
      <%= f.label :latitude, Spree.t(:latitude) %>
      <span class="required">*</span><br/>
      <%= f.text_field :latitude, :class => 'form-control required', :id => "map_lat" %>
      <%= error_message_on :retail_store, :latitude %>
    </div>
  </div>

  <div class="row">
    <div data-hook="admin_retail_store_form_address_fields" class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">
            Map
          </h1>
        </div>
        <div class="panel-body">
          <div id="map-canvas-0" class="map-canvas text-center" style="width: 600px; height: 400px" name="google-map-element"></div>
        </div>
      </div>
    </div>

    <div data-hook="admin_retail_store_form_store_timings" class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">
            Store Timings
          </h1>
        </div>
        <div class="panel-body">
          <div class="alert alert-info" role="alert"><strong>Note:</strong> only one store's timing can be used for delivery</div>
          <%= f.label :use_timings_for_delivery, "Use this store's timing for delivery" %>
          <span >: </span>
          <%= f.check_box :use_timings_for_delivery%>
          <br>
          <br>
          <p> All timings are in <strong>"<%=Spree::Config[:store_time_zone]%> (UTC <%=Time.zone.formatted_offset%>)"</strong> time zone. Change this in <%=link_to("General Settings Menu", edit_admin_general_settings_path)%></p>

          <%= f.fields_for :store_timings do |store_timings_form| %>

              <div class="store_timing_day">
                <strong><%= store_timings_form.label store_timings_form.object.day_of_week %></strong>
                <br>
                <%= store_timings_form.label :opening_time, Spree.t(:opening_time) %>
                <%= store_timings_form.time_field :opening_time, class: 'opening_time_field' %>
                <%= store_timings_form.label :closing_time, Spree.t(:closing_time) %>
                <%= store_timings_form.time_field :closing_time, class: 'closing_time_field' %>
                <%= store_timings_form.label :closed, Spree.t(:closed) %>
                <%= store_timings_form.check_box :closed, class: 'closed_checkbox' %>
                <div style="color: red"><%= error_message_on store_timings_form.object, :opening_time %></div>
                <div style="color: red"><%= error_message_on store_timings_form.object, :closing_time %></div>
                <%= store_timings_form.hidden_field :day_of_week %>
                <%= store_timings_form.hidden_field :id %>

                <br>
                <br>

              </div>
          <% end %>
          <script>

            $(document).ready(function(){

                function toggleTimeFieldStates(checkbox){
                    if (checkbox.is(":checked")) {
                        checkbox.parent(".store_timing_day").children(".opening_time_field").prop('disabled', true);
                        checkbox.parent(".store_timing_day").children(".closing_time_field").prop('disabled', true);

                        checkbox.parent(".store_timing_day").children(".opening_time_field").val('');
                        checkbox.parent(".store_timing_day").children(".closing_time_field").val('');

                        console.log("checked")
                    }
                    else {
                        console.log("un checked")
                        checkbox.parent(".store_timing_day").children(".opening_time_field").prop('disabled', false);
                        checkbox.parent(".store_timing_day").children(".closing_time_field").prop('disabled', false);
                    }
                }

                $('.closed_checkbox').each(function(){
                    toggleTimeFieldStates($(this))
                })


                $('.closed_checkbox').change(function () {
                    toggleTimeFieldStates($(this))
                })

            })

          </script>

        </div>
      </div>
    </div>
  </div>


</div>


